<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>Викторина</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
<h2 id="question">Ожидание начала...</h2>
<div id="options"></div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
<script>
const socket = io();
const username = "{{ username }}";


socket.emit('join', {username});


socket.on('new_question', ()=>{
socket.emit('get_question', {username});
});


socket.on('question', (data)=>{
document.getElementById('question').innerText = data.text;
const opts = data.options.map((opt, i)=>`<button onclick="sendAnswer(${i})">${opt}</button>`).join('');
document.getElementById('options').innerHTML = opts;
});


socket.on('end', (data)=>{
document.body.innerHTML = `<h2>${data.message}</h2><a href='/results'>Посмотреть результаты</a>`;
});


function sendAnswer(i){
socket.emit('answer', {username, answer: i});
document.getElementById('options').innerHTML = '<p>Ответ принят! Ожидайте следующий вопрос...</p>';
}
</script>
</body>
</html>
